.DS_Store

*.tfvars
*.tfstate
*.tfstate.backup
.terraform
.terraform.lock.hcl
*terraform.tfstate.d
.terraform.tfstate.lock.info
**/terraform.tfstate.d/*
vars.yaml
*.env
kubeconfig.yaml
local.yaml
values.yml

.vscode/
.idea/
.kube/
*.pem
ansible/chaos/experiments/*.yml
ansible/rke2/airgap/inventory/inventory.yml
ansible/rke2/airgap/inventory/group_vars/all.yml
ansible/rke2/airgap/playbooks/debug/*.txt
ansible/rke2/airgap/playbooks/*.txt
terraform-inventory.yml
.lock
