.DS_Store

*.tfvars
*.tfstate
*.tfstate.backup
.terraform
.terraform.lock.hcl
*terraform.tfstate.d
.terraform.tfstate.lock.info
**/terraform.tfstate.d/*
vars.yaml
*.env
kubeconfig.yaml
local.yaml

.vscode/
.idea/
.kube/
*.pem
terraform-inventory.yml

.python-version
