[defaults]
roles_path = ./ansible/roles
timeout = 30
connect_timeout = 30
host_key_checking = False
interpreter_python = auto_silent

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
pipelining = True

[inventory]
# Note: cloud.terraform.terraform_state is optional and not required for static inventory workflow
# It can be removed if you don't need dynamic Terraform inventory support
enable_plugins = host_list, script, auto, yaml, ini
