---
# K3s Agent configuration
server: https://{{ kube_api_host }}:6443
token: {{ k3s_token }}

{% if public_ip is defined and public_ip != '' %}
# External IP configuration
node-external-ip: {{ public_ip }}
{% endif %}

{% if worker_flags is defined and worker_flags != '' %}
# Additional worker flags
{{ worker_flags }}
{% endif %}
