---
# K3s Server configuration
{% if k3s_node_type == 'cluster-init' %}
cluster-init: true
{% else %}
server: https://{{ kube_api_host }}:6443
token: {{ k3s_token }}
{% endif %}
write-kubeconfig-mode: 644

# TLS configuration
tls-san:
{% if fqdn is defined and fqdn != '' %}
  - {{ fqdn }}
{% endif %}
  - {{ kube_api_host }}

{% if public_ip is defined and public_ip != '' %}
# External IP configuration
node-external-ip: {{ public_ip }}
{% endif %}

{% if server_flags is defined and server_flags != '' %}
# Additional server flags
{{ server_flags }}
{% endif %}

{% if k3s_security_hardening | default(false) %}
# Security hardening configuration
{{ k3s_cis_config }}
{% endif %}

{% if k3s_node_roles is defined %}
# Node role configuration
{% set roles = k3s_node_roles.split(',') %}
{% set has_etcd = 'etcd' in roles %}
{% set has_cp = 'cp' in roles %}
{% set has_worker = 'worker' in roles %}

{% if not has_etcd and has_cp and not has_worker %}
# CP only node
disable-etcd: true
node-taint:
  - node-role.kubernetes.io/control-plane:NoSchedule
node-label:
  - role-control-plane=true
{% elif not has_etcd and has_cp and has_worker %}
# CP-Worker node
disable-etcd: true
node-label:
  - role-control-plane=true
  - role-worker=true
{% elif has_etcd and has_cp and not has_worker %}
# ETCD-CP node
node-taint:
  - node-role.kubernetes.io/control-plane:NoSchedule
  - node-role.kubernetes.io/etcd:NoExecute
node-label:
  - role-etcd=true
  - role-control-plane=true
{% elif has_etcd and has_worker and not has_cp %}
# ETCD-Worker node
disable-apiserver: true
disable-controller-manager: true
disable-scheduler: true
node-label:
  - role-etcd=true
  - role-worker=true
{% elif has_etcd and not has_cp and not has_worker %}
# ETCD only node
disable-apiserver: true
disable-controller-manager: true
disable-scheduler: true
node-taint:
  - node-role.kubernetes.io/etcd:NoExecute
node-label:
  - role-etcd=true
{% else %}
# Node with all roles (default)
node-label:
  - role-etcd=true
  - role-control-plane=true
  - role-worker=true
{% endif %}
{% endif %}
